.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: var(--inlineMargin);
    padding-block: 0.6rem;
    background-color: var(--gray8);
    box-shadow: 0 0 0.4rem rgba(0,0,0,0.1);
}

.heading {
    font-size: 100%;
}

.title {
    color: var(--textColor);
    text-decoration: none;
}

.title::before {
    content: '/';
    margin-inline-start: 0.8rem;
    margin-inline-end: 0.4rem;
}

.title:first-child {
    font-size: 120%;
}

.title:first-child::before {
    content: none;
}

.delimiter {
    inline-size: 1rem;
}

.spacer {
    flex-grow: 1;
}
