.button {
    display: grid;
    align-items: center;
    min-block-size: 2rem;
    padding-inline: 1rem;
    border-radius: 1rem;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
}

.primary {
    color: var(--gray9);
    background-color: var(--accentColor);
}

.secondary {
    color: var(--accentColor);
    border-color: currentColor;
    border-style: solid;
}
