.table {
    justify-self: start;
    border-inline-end-width: 1px;
    border-block-end-width: 1px;
}

.table>tbody>tr {
    background-color: var(--gray9);
}

.table>tbody>tr:hover {
    background-color: var(--gray7);
}

.th, .td {
    padding-block: 0.1rem;
    padding-inline: 0.3rem;
    word-break: break-all;
    font-family: var(--fontMonospace);
    font-size: 0.7rem;
    border-color: var(--gray4);
    border-inline-end-width: 0;
    border-block-end-width: 0;
}

.th {
    inline-size: 5rem;
    vertical-align: top;
    text-align: end;
}

.table>tbody>tr:last-child>* {
    border-block-end-width: 1px;
}

.td:last-child {
    border-inline-end-width: 1px;
}

.td[data-type=object] {
    padding-block: 0;
    padding-inline: 0;
}

.nested {
    inline-size: 100%;
}

.nested>tbody>tr>:first-child {
    border-inline-start-width: 0;
}

.nested>tbody>tr:first-child>* {
    border-block-start-width: 0;
}

.nested>tbody>tr>:last-child {
    border-inline-end-width: 0;
}

.nested>tbody>tr:last-child>* {
    border-block-end-width: 0;
}

.note {
    opacity: 0.5;
}
