.editor {
    display: grid;
    grid-template-columns: 1fr 50%;
    column-gap: var(--inlineMargin);
    padding-inline: var(--inlineMargin);
    padding-block: 1rem;
}

.title {
    inline-size: 100%;
    padding-inline: 0;
    margin-block-end: 0.6rem;
    font-size: 120%;
    border: none;
}

.bold {
    font-weight: bold;
    color: red;
}

.size {
    text-align: end;
    font-size: 200%;
}
