.buttons {
    display: flex;
    align-items: center;
    padding-inline: var(--inlineMargin);
    padding-block-start: 1rem;
}

.list {
    display: grid;
    grid-auto-columns: 30rem;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-inline: var(--inlineMargin);
}
