.container {
    z-index: var(--zMessage);
    position: fixed;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    display: grid;
    row-gap: 1rem;
    justify-content: center;
    padding-block-end: 0.5rem;
}

.message {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: var(--gray9);
    background-color: var(--gray3);
    transition: opacity 0.2s;
    border-radius: 0.4rem;
}

.hidden {
    opacity: 0;
}

