*, ::before, ::after, ::marker {
    position: relative;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border-style: none;
    border-width: 1px;
    border-color: currentColor;
    list-style: none;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
    background-size: cover;
    background-color: transparent;
    -webkit-text-size-adjust: none;
}
:root {
    --zMessage: 10;
    --gray1: #3c3c3c;
    --gray2: #474747;
    --gray3: #707070;
    --gray4: #c0c0c0;
    --gray5: #dddddd;
    --gray6: #ebebeb;
    --gray7: #eeeeee;
    --gray8: #fafafa;
    --gray9: #ffffff;
    --inlineMargin: 1rem;
    --textColor: var(--gray1);
    --accentColor: #5f4bf4;
    --backgroundColor: var(--gray7);
    --listIndexSize: 1.5rem;
    --fontDefault: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
    --fontMonospace: "Roboto Mono", monospace;
    font-size: 16px;
    font-family: var(--fontDefault);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--textColor);
    block-size: 100%;
    background-color: var(--backgroundColor);
}
@media (max-width: 600px) {
    :root {
        font-size: 16px;
    }
}
:root:focus-within {
    scroll-behavior: smooth;
}
body, #raw-__next {
    min-height: 100vh;
}
main {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
}
img, svg, picture {
    max-inline-size: 100%;
    display: block;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *, ::before, ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a {
    color: rgb(0, 0, 207);
    text-decoration: underline;
}
s {
    text-decoration-line: line-through;
}
b {
    font-weight: bolder;
}
i {
    font-style: italic;
}
pre {
    white-space: pre-wrap;
}
code {
    white-space: pre;
    font-family: var(--fontMonospace);
    font-size: smaller;
}
rt {
    font-size: 60%;
}
input, textarea {
    transition-property: box-shadow;
    transition-duration: 0.2s;
}
input:focus, textarea:focus {
    box-shadow: 0 0.2rem 1rem #0003;
}
input {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    border-block-end-style: solid;
}
textarea {
    display: block;
    inline-size: 100%;
    min-inline-size: unset;
    min-block-size: 8rem;
    padding-block-start: 0.6rem;
    padding-block-end: 0.6rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border-style: solid;
    resize: vertical;
}
button {
    cursor: pointer;
}
iframe {
    max-inline-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}
h2, h3 {
    margin-block-start: 1rem;
}
header+h2, header+h3 {
    margin-block-start: 0;
}
h1 {
    font-size: 130%;
}
h2 {
    font-size: 112%;
}
h3 {
    font-size: 106%;
}
.raw-link {
    font-size: 70%;
    color: inherit;
    opacity: 0.4;
    user-select: none;
    text-decoration: none;
}
.raw-link:hover {
    opacity: 1;
}
.raw-anchor {
    position: absolute;
    inset-block-start: -4rem;
    visibility: hidden;
}
p, li {
    line-height: 1.75;
}
p {
    text-align: justify;
}
figure {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
    justify-content: stretch;
    overflow: auto;
}
figcaption {
    font-size: 80%;
}
ol, ul {
    counter-reset: listItemIndex;
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
}
li {
    counter-increment: listItemIndex;
    display: grid;
    grid-template-columns: var(--listIndexSize) 1fr;
    row-gap: inherit;
    column-gap: 0.5rem;
    align-items: baseline;
}
li>* {
    grid-column: 2 / 3;
}
li>ol, li>ul {
    margin-inline-start: -0.5rem;
}
li::before {
    grid-column: 1 / 2;
    text-align: end;
}
ol>li::before {
    content: counter(listItemIndex) '.';
}
ul>li::before {
    content: '●';
}
li[data-checkbox]::before {
    content: none;
}
li[data-checkbox]>input {
    grid-column: 1 / 2;
    justify-self: end;
}
ol[data-lang] {
    row-gap: 0;
    overflow-x: auto;
    font-family: var(--fontMonospace);
}
ol[data-lang]>li {
    align-items: stretch;
    line-height: 1.5;
}
ol[data-lang]>li::before {
    content: counter(listItemIndex);
    opacity: 0.6;
    font: inherit;
    font-size: smaller;
}
hr {
    block-size: 1px;
    background-color: currentColor;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
table {
    max-inline-size: 100%;
    min-inline-size: 20rem;
    border-collapse: collapse;
}
td, th {
    padding-block-start: 0.4rem;
    padding-block-end: 0.2rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    border-style: solid;
}
blockquote {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
    padding-inline-start: 1rem;
    border-inline-start-style: solid;
    border-inline-start-width: 0.2rem;
    opacity: 0.85;
}
